* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', serif;
    background-color: #282c34; /* dark grey */
    color: #f5f5f5; /* light grey */
}

.education-section {
    padding: 50px 0;
    text-align: center;
}

.education-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}

.education-item {
    text-align: left;
    flex: 0 1 calc(100% - 60px);
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #d3d3d3; /* light grey */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-left: 5px solid #FF5722;
}

.card-header {
    flex: 0 1 50%;
    background-color: #d3d3d3;
}

.card-body {
    flex: 0 1 50%;
    font-family: 'Times New Roman', serif;
}

.university {
    color: #FF5722;
    font-size: 1.7em;
    margin-bottom: 10px;
    font-family: 'Times New Roman', serif;
    font-weight: bold;
}

.degree {
    font-size: 1.2em;
    margin-bottom: 10px;
    font-family: 'Times New Roman', serif;
}

.major,
.dates,
.concentration,
.gpa {
    font-size: 1em;
    margin-bottom: 10px;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-text {
    margin: 0;
    font-size: 0.8em;
}
