/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', serif;
    background-color: #2196F3;
    color: #f5f5f5;
}

.projects-section {
  padding: 50px 0;
  text-align: center;
}

.projects-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}

.project-item {
  text-align: left;
  flex: 0 1 calc(100% - 60px);
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #d3d3d3;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-left: 5px solid #1976D2;

  margin-bottom: 0px;
  overflow: hidden;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.02);
}

.card-header {
  flex: 0 1 50%;
  background-color: #d3d3d3;
}

.card-body {
  flex: 0 1 50%;
  font-family: 'Times New Roman', serif;
}

.project-name {
  color: #FF5722;
  font-size: 1.7em;
  margin-bottom: 10px;
  font-family: 'Times New Roman', serif;
  font-weight: bold;
}

.project-description {
  font-size: 1.2em;
  margin-bottom: 10px;
  font-family: 'Times New Roman', serif;
}

.btn-project-link {
  display: inline-block;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0056b3;
}


.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-text {
  margin: 0;
  font-size: 0.8em;
}*/


body {
  padding-top: 3.5rem;
}


